1.SitioFreeLancer/freelancer_inicio.zip
1.SitioFreeLancer/freelancer_fin.zip
1.SitioFreeLancer/freelancer_fin
ResponsivelyApp-Setup-0.15.0.exe
freelancer_fin/.DS_Store
freelancer_fin/index.html
freelancer_fin/css/style.css
freelancer_fin/img/hero.jpg
freelancer_fin
2.FrontendStore/Recursos
2.FrontendStore/img/.DS_Store
3.PatronesRWD
.vscode/settings.json
4.BlogCafe/blogdecafe_inicio.zip
4.BlogCafe/Recursos
5.IntroJS
6.Js2daParteDOM
7.Sass & Gulp
8.FestivalMusica/recursos
8.FestivalMusica/AnotacionesDelCapitulo.js
8.FestivalMusica/node_modules
8.FestivalMusica/gulpfilePrueba.js
8.FestivalMusica/src
8.FestivalMusica/build/js/bundle.js.min.map
8.FestivalMusica/build/js/bundle.js.map
8.FestivalMusica/build/js/bundle.js
181852622_4019420031453796_6064473836875101882_n.jpg
8.FestivalMusica/gulpfile.js
8.FestivalMusica/package-lock.json
8.FestivalMusica/package.json
8.FestivalMusica/postcss.config.js
8.FestivalMusica/build/css/app.css.map

9.AppBarberia/gulpfile.js
9.AppBarberia/Recursos
9.AppBarberia/src
9.AppBarberia/package-lock.json
9.AppBarberia/package.json
9.AppBarberia/servicios.json
